/* line 1, ../../sass/partials/content.scss */
main {
  background: #E1E1E1;
  min-height: 100vh;
}
/* line 5, ../../sass/partials/content.scss */
main #to-do-list {
  width: 65%;
  margin: 0 auto;
  padding: 24px 0;
  /*#add*/
  /*add-task*/
  /*#add-active*/
  /*add active*/
  /*exist-task*/
}
/* line 2, ../../sass/partials/add-task.scss */
main #to-do-list #add-task {
  width: 620px;
  margin: 0 auto;
  position: relative;
  font-size: 24px;
  border: 2px solid #C8C8C8;
  border-radius: 5px;
  /*Add Task*/
}
/* line 11, ../../sass/partials/add-task.scss */
main #to-do-list #add-task input {
  width: 100%;
  padding: 19px 0 18px 67px;
  box-sizing: border-box;
  line-height: 28px;
}
/* line 16, ../../sass/partials/add-task.scss */
main #to-do-list #add-task input::placeholder {
  font-size: 24px;
  font-family: "Roboto-Regular";
  color: #C8C8C8;
}
/* line 22, ../../sass/partials/add-task.scss */
main #to-do-list #add-task span {
  position: absolute;
  top: 19px;
  left: 29px;
  color: #C8C8C8;
}
/* line 2, ../../sass/partials/add-active.scss */
main #to-do-list .add-active, main #to-do-list div[class^="exist-task"] {
  /*display: none;*/
  background: #F2F2F2;
  width: 620px;
  margin: 24px auto;
  box-shadow: 0 4px 4px 0 #C8C8C8;
  border-radius: 5px;
  /*bg-title*/
  /*bg-content*/
}
/* line 11, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title, main #to-do-list div[class^="exist-task"] .bg-title {
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #C8C8C8;
  padding: 24px 0 0;
  font-size: 24px;
  /*title left*/
  /*title right*/
}
/* line 17, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title > i, main #to-do-list div[class^="exist-task"] .bg-title > i {
  float: left;
  margin: 0 0 0 8px;
  color: #D8D8D8;
  display: none;
}
/* line 23, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title:hover > i, main #to-do-list div[class^="exist-task"] .bg-title:hover > i {
  display: block;
}
/* line 28, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-left, main #to-do-list div[class^="exist-task"] .bg-title .title-left {
  float: left;
  text-align: center;
}
/* line 31, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-left i:nth-child(1), main #to-do-list div[class^="exist-task"] .bg-title .title-left i:nth-child(1) {
  background: white;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  margin: 0 16px 0 24px;
}
/* line 43, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right, main #to-do-list div[class^="exist-task"] .bg-title .title-right {
  line-height: 28px;
  display: inline-block;
  width: 539px;
}
/* line 47, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right input, main #to-do-list div[class^="exist-task"] .bg-title .title-right input {
  font-size: 24px;
}
/* line 49, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right input[type="text"], main #to-do-list div[class^="exist-task"] .bg-title .title-right input[type="text"] {
  border: none;
  background: none;
}
/* line 52, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right input[type="text"]::placeholder, main #to-do-list div[class^="exist-task"] .bg-title .title-right input[type="text"]::placeholder {
  color: black;
}
/* line 57, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right > i, main #to-do-list div[class^="exist-task"] .bg-title .title-right > i {
  float: right;
  margin-right: 32px;
}
/* line 61, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right .star-black, main #to-do-list div[class^="exist-task"] .bg-title .title-right .star-black {
  color: black;
}
/* line 64, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right .star-orange, main #to-do-list div[class^="exist-task"] .bg-title .title-right .star-orange {
  color: #F5A623;
}
/* line 67, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right .icon-on-title, main #to-do-list div[class^="exist-task"] .bg-title .title-right .icon-on-title {
  margin: 16px 0 17px;
  color: #757575;
}
/* line 70, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right .icon-on-title i, main #to-do-list div[class^="exist-task"] .bg-title .title-right .icon-on-title i {
  margin: 0 16px 0 0;
  display: none;
  font-size: 18px;
}
/* line 74, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-title .title-right .icon-on-title i span, main #to-do-list div[class^="exist-task"] .bg-title .title-right .icon-on-title i span {
  margin: 0 8px;
  font-size: 16px;
}
/* line 84, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content, main #to-do-list div[class^="exist-task"] .bg-content {
  padding: 24px 0;
  /*deadline*/
}
/* line 87, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content .model, main #to-do-list div[class^="exist-task"] .bg-content .model, main #to-do-list .add-active .bg-content .deadline, main #to-do-list div[class^="exist-task"] .bg-content .deadline, main #to-do-list .add-active .bg-content .file-upload, main #to-do-list div[class^="exist-task"] .bg-content .file-upload, main #to-do-list .add-active .bg-content .comment, main #to-do-list div[class^="exist-task"] .bg-content .comment {
  padding: 0 0 0 72px;
  margin: 0 0 22px 0;
}
/* line 90, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content .model i, main #to-do-list div[class^="exist-task"] .bg-content .model i, main #to-do-list .add-active .bg-content .deadline i, main #to-do-list div[class^="exist-task"] .bg-content .deadline i, main #to-do-list .add-active .bg-content .file-upload i, main #to-do-list div[class^="exist-task"] .bg-content .file-upload i, main #to-do-list .add-active .bg-content .comment i, main #to-do-list div[class^="exist-task"] .bg-content .comment i {
  font-size: 17px;
  float: left;
}
/* line 94, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content .model > div, main #to-do-list div[class^="exist-task"] .bg-content .model > div, main #to-do-list .add-active .bg-content .deadline > div, main #to-do-list div[class^="exist-task"] .bg-content .deadline > div, main #to-do-list .add-active .bg-content .file-upload > div, main #to-do-list div[class^="exist-task"] .bg-content .file-upload > div, main #to-do-list .add-active .bg-content .comment > div, main #to-do-list div[class^="exist-task"] .bg-content .comment > div {
  font-size: 20px;
  overflow: hidden;
  padding: 0 0 0 11px;
}
/* line 98, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content .model > div div, main #to-do-list div[class^="exist-task"] .bg-content .model > div div, main #to-do-list .add-active .bg-content .deadline > div div, main #to-do-list div[class^="exist-task"] .bg-content .deadline > div div, main #to-do-list .add-active .bg-content .file-upload > div div, main #to-do-list div[class^="exist-task"] .bg-content .file-upload > div div, main #to-do-list .add-active .bg-content .comment > div div, main #to-do-list div[class^="exist-task"] .bg-content .comment > div div {
  margin: 0 0 8px 0;
}
/* line 105, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content .deadline input, main #to-do-list div[class^="exist-task"] .bg-content .deadline input {
  padding: 8px 69px 8px 16px;
}
/* line 111, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content .file-upload button, main #to-do-list div[class^="exist-task"] .bg-content .file-upload button {
  background: #C8C8C8;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  color: white;
  font-size: 24px;
}
/* line 122, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .bg-content .comment input, main #to-do-list div[class^="exist-task"] .bg-content .comment input {
  height: 104px;
  width: 413px;
}
/* line 130, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .cancel-add-btn button, main #to-do-list div[class^="exist-task"] .cancel-add-btn button {
  width: 310px;
  height: 60px;
  font-size: 24px;
  line-height: 28px;
  border: none;
  font-family: "Roboto-Regular";
  text-align: center;
}
/* line 139, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .cancel-add-btn .cancel-btn, main #to-do-list div[class^="exist-task"] .cancel-add-btn .cancel-btn {
  background-color: #FFFFFF;
  float: left;
  color: #D0021B;
}
/* line 144, ../../sass/partials/add-active.scss */
main #to-do-list .add-active .cancel-add-btn .add-btn, main #to-do-list div[class^="exist-task"] .cancel-add-btn .add-btn {
  background: #4A90E2;
  color: #FFFFFF;
}
/* line 2, ../../sass/partials/exist-task.scss */
main #to-do-list div[class^="exist-task"] {
  display: block;
}
/* line 5, ../../sass/partials/exist-task.scss */
main #to-do-list div[class^="exist-task"] .bg-content {
  display: none;
}
/* line 8, ../../sass/partials/exist-task.scss */
main #to-do-list div[class^="exist-task"] .cancel-add-btn {
  display: none;
}
/* line 17, ../../sass/partials/content.scss */
main #to-do-list #count-task {
  width: 620px;
  margin: 0 auto;
  padding: 0 0 0 44px;
  line-height: 28px;
  font-family: "Roboto-Italic";
  font-style: italic;
  font-size: 24px;
  color: #C8C8C8;
}
