/*add active*/
/* line 2, ../../sass/partials/add-active.scss */
.add-active, div[class^="exist-task"] {
  /*display: none;*/
  background: #F2F2F2;
  width: 620px;
  margin: 24px auto;
  box-shadow: 0 4px 4px 0 #C8C8C8;
  border-radius: 5px;
  /*bg-title*/
  /*bg-content*/
}
/* line 11, ../../sass/partials/add-active.scss */
.add-active .bg-title, div[class^="exist-task"] .bg-title {
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #C8C8C8;
  padding: 24px 0 0;
  font-size: 24px;
  /*title left*/
  /*title right*/
}
/* line 17, ../../sass/partials/add-active.scss */
.add-active .bg-title > i, div[class^="exist-task"] .bg-title > i {
  float: left;
  margin: 0 0 0 8px;
  color: #D8D8D8;
  display: none;
}
/* line 23, ../../sass/partials/add-active.scss */
.add-active .bg-title:hover > i, div[class^="exist-task"] .bg-title:hover > i {
  display: block;
}
/* line 28, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-left, div[class^="exist-task"] .bg-title .title-left {
  float: left;
  text-align: center;
}
/* line 31, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-left i:nth-child(1), div[class^="exist-task"] .bg-title .title-left i:nth-child(1) {
  background: white;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  margin: 0 16px 0 24px;
}
/* line 43, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right, div[class^="exist-task"] .bg-title .title-right {
  line-height: 28px;
  display: inline-block;
  width: 539px;
}
/* line 47, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right input, div[class^="exist-task"] .bg-title .title-right input {
  font-size: 24px;
}
/* line 49, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right input[type="text"], div[class^="exist-task"] .bg-title .title-right input[type="text"] {
  border: none;
  background: none;
}
/* line 52, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right input[type="text"]::placeholder, div[class^="exist-task"] .bg-title .title-right input[type="text"]::placeholder {
  color: black;
}
/* line 57, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right > i, div[class^="exist-task"] .bg-title .title-right > i {
  float: right;
  margin-right: 32px;
}
/* line 61, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right .star-black, div[class^="exist-task"] .bg-title .title-right .star-black {
  color: black;
}
/* line 64, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right .star-orange, div[class^="exist-task"] .bg-title .title-right .star-orange {
  color: #F5A623;
}
/* line 67, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right .icon-on-title, div[class^="exist-task"] .bg-title .title-right .icon-on-title {
  margin: 16px 0 17px;
  color: #757575;
}
/* line 70, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right .icon-on-title i, div[class^="exist-task"] .bg-title .title-right .icon-on-title i {
  margin: 0 16px 0 0;
  display: none;
  font-size: 18px;
}
/* line 74, ../../sass/partials/add-active.scss */
.add-active .bg-title .title-right .icon-on-title i span, div[class^="exist-task"] .bg-title .title-right .icon-on-title i span {
  margin: 0 8px;
  font-size: 16px;
}
/* line 84, ../../sass/partials/add-active.scss */
.add-active .bg-content, div[class^="exist-task"] .bg-content {
  padding: 24px 0;
  /*deadline*/
}
/* line 87, ../../sass/partials/add-active.scss */
.add-active .bg-content .model, div[class^="exist-task"] .bg-content .model, .add-active .bg-content .deadline, div[class^="exist-task"] .bg-content .deadline, .add-active .bg-content .file-upload, div[class^="exist-task"] .bg-content .file-upload, .add-active .bg-content .comment, div[class^="exist-task"] .bg-content .comment {
  padding: 0 0 0 72px;
  margin: 0 0 22px 0;
}
/* line 90, ../../sass/partials/add-active.scss */
.add-active .bg-content .model i, div[class^="exist-task"] .bg-content .model i, .add-active .bg-content .deadline i, div[class^="exist-task"] .bg-content .deadline i, .add-active .bg-content .file-upload i, div[class^="exist-task"] .bg-content .file-upload i, .add-active .bg-content .comment i, div[class^="exist-task"] .bg-content .comment i {
  font-size: 17px;
  float: left;
}
/* line 94, ../../sass/partials/add-active.scss */
.add-active .bg-content .model > div, div[class^="exist-task"] .bg-content .model > div, .add-active .bg-content .deadline > div, div[class^="exist-task"] .bg-content .deadline > div, .add-active .bg-content .file-upload > div, div[class^="exist-task"] .bg-content .file-upload > div, .add-active .bg-content .comment > div, div[class^="exist-task"] .bg-content .comment > div {
  font-size: 20px;
  overflow: hidden;
  padding: 0 0 0 11px;
}
/* line 98, ../../sass/partials/add-active.scss */
.add-active .bg-content .model > div div, div[class^="exist-task"] .bg-content .model > div div, .add-active .bg-content .deadline > div div, div[class^="exist-task"] .bg-content .deadline > div div, .add-active .bg-content .file-upload > div div, div[class^="exist-task"] .bg-content .file-upload > div div, .add-active .bg-content .comment > div div, div[class^="exist-task"] .bg-content .comment > div div {
  margin: 0 0 8px 0;
}
/* line 105, ../../sass/partials/add-active.scss */
.add-active .bg-content .deadline input, div[class^="exist-task"] .bg-content .deadline input {
  padding: 8px 69px 8px 16px;
}
/* line 111, ../../sass/partials/add-active.scss */
.add-active .bg-content .file-upload button, div[class^="exist-task"] .bg-content .file-upload button {
  background: #C8C8C8;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  color: white;
  font-size: 24px;
}
/* line 122, ../../sass/partials/add-active.scss */
.add-active .bg-content .comment input, div[class^="exist-task"] .bg-content .comment input {
  height: 104px;
  width: 413px;
}
/* line 130, ../../sass/partials/add-active.scss */
.add-active .cancel-add-btn button, div[class^="exist-task"] .cancel-add-btn button {
  width: 310px;
  height: 60px;
  font-size: 24px;
  line-height: 28px;
  border: none;
  font-family: "Roboto-Regular";
  text-align: center;
}
/* line 139, ../../sass/partials/add-active.scss */
.add-active .cancel-add-btn .cancel-btn, div[class^="exist-task"] .cancel-add-btn .cancel-btn {
  background-color: #FFFFFF;
  float: left;
  color: #D0021B;
}
/* line 144, ../../sass/partials/add-active.scss */
.add-active .cancel-add-btn .add-btn, div[class^="exist-task"] .cancel-add-btn .add-btn {
  background: #4A90E2;
  color: #FFFFFF;
}

/* line 2, ../../sass/partials/exist-task.scss */
div[class^="exist-task"] {
  display: block;
}
/* line 5, ../../sass/partials/exist-task.scss */
div[class^="exist-task"] .bg-content {
  display: none;
}
/* line 8, ../../sass/partials/exist-task.scss */
div[class^="exist-task"] .cancel-add-btn {
  display: none;
}
